option_settings:
  aws:elasticbeanstalk:environment:process:default:
    StickinessEnabled: "false"
    HealthCheckPath: "/api/health"
    HealthCheckInterval: "15"
    DeregistrationDelay: "20"
  aws:elbv2:loadbalancer:
    IdleTimeout: "300"
  aws:elb:policies:
    ConnectionDrainingEnabled: "true"
    ConnectionDrainingTimeout: "20"
